* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* ============= END RESET CSS ============ */

@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap");

:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
}

body {
  background-color: hsl(47, 88%, 63%);
  display: grid;
  place-content: center;
  font-size: 1rem;
  font-family: "Figtree", sans-serif;
  gap: 2rem;
}

main {
  background-color: var(--White);
  border-radius: 1rem;
  max-width: 22rem;
  padding: 1rem;
  border: 0.12rem solid var(--Black);
  box-shadow: 8px 8px 0px rgb(0, 0, 0);
}

#main-img {
  border-radius: 0.7rem;
  margin-bottom: 1rem;
}

a {
  background-color: var(--Yellow);
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-weight: 600;
  font-size: 0.8rem;
}

#main-info > p:nth-of-type(1) {
  color: var(--Black);
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

#main-info > p:nth-of-type(2) {
  color: var(--Grey);
  margin-bottom: 1.2rem;
}

#main-info > h1 {
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 0.7rem;
  cursor: pointer;
  transition: 0.5s ease;
}

#main-info > h1:hover {
  color: var(--Yellow);
  transition: 0.5s ease;
}

#main-info > span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#main-info > span > img {
  max-width: 2rem;
}

#main-info > span > p {
  font-weight: 600;
}

@media (max-width: 767px) {
  main {
    max-width: 21rem;
  }
}

@media (max-width: 370px) {
  main {
    max-width: 20rem;
  }
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
